<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!-- Стили-->
    <!-- Нормалайзер -->
    <link rel="stylesheet" href="style/normalize.css"/>
    <!-- Bootstrap 		-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <!-- /Bootstrap -->
    <!-- Slick Slider-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <!-- Стиль сайта-->
    <link rel="stylesheet" href="style/style.css"/>
    <!-- Стиль шаблона(header - footer)-->
    <link rel="stylesheet" href="style/page-template.css"/>
    <!-- /Стили-->
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <!-- Тело сайта -->
  <body>
    <!-- Модальные окна-->
    <!-- Модальное окно - Вход для клиентов-->
    <div class="modal modal-forms fade" id="clientsLogin" tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true">
      <div class="modal-box modal-dialog button button--gradient">
        <div class="modal__content">
          <div class="modal__content-title">Войти в личный кабинет</div>
          <div class="modal__content-description">Для того, чтобы войти в личный кабинет, введите логин и пароль</div>
          <form class="modal__content-form">
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-user" type="text" name="loginName" placeholder="Имя пользователя*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-pass" type="text" name="loginPass" placeholder="Пароль*"/>
            </div>
            <div class="modal__content-cols">
              <div class="modal__content-col1-2 loginRemember">
                <input class="input-loginRemember" id="loginRemember" type="checkbox"/>
                <div class="label-loginRemember__checkbox"></div>
                <label class="label-loginRemember" for="loginRemember">Запомнить меня</label>
              </div>
              <div class="modal__content-col1-2 not-a-partner"><a class="modal__content-nat-a-partner" href="#">Еще не наш партнер?</a></div>
            </div>
            <div class="modal__content-form-submit">
              <input class="modal__content-form-submit-btn" type="submit" value="ВОЙТИ НА САЙТ"/>
            </div>
          </form>
          <div class="modal__content-close" data-dismiss="modal" aria-label="Close"><img class="modal__content-close" src="template-images/forms__cancel.png"/></div>
        </div>
      </div>
    </div>
    <!-- Модальное окно - Оставить заявку-->
    <div class="modal modal-forms fade" id="online-order" tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true">
      <div class="modal-box modal-dialog button button--gradient">
        <div class="modal__content">
          <div class="modal__content-title">Оставить заявку</div>
          <div class="modal__content-description">Для того, чтобы оставить заявку, вам требуется войти на сайт под своими учетными данными. <br/>Имя и пароль выдаются нашей компанией при регистрации партнера. </div>
          <form class="modal__content-form">
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-user" type="text" name="loginName" placeholder="Имя пользователя*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-pass" type="text" name="loginPass" placeholder="Пароль*"/>
            </div>
            <div class="modal__content-cols">
              <div class="modal__content-col1-2 loginRemember">
                <input class="input-loginRemember" id="loginRememberOrder" type="checkbox"/>
                <div class="label-loginRemember__checkbox"></div>
                <label class="label-loginRemember" for="loginRememberOrder">Запомнить меня</label>
              </div>
              <div class="modal__content-col1-2 not-a-partner"><a class="modal__content-nat-a-partner" href="#">Еще не наш партнер?</a></div>
            </div>
            <div class="modal__content-form-submit">
              <input class="modal__content-form-submit-btn" type="submit" value="ВОЙТИ НА САЙТ"/>
            </div>
          </form>
          <div class="modal__content-close" data-dismiss="modal" aria-label="Close"><img class="modal__content-close" src="template-images/forms__cancel.png"/></div>
        </div>
      </div>
    </div>
    <!-- Модальное окно - Обратная связь-->
    <div class="modal modal-forms fade" id="callBack" tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true">
      <div class="modal-box modal-dialog button button--gradient">
        <div class="modal__content">
          <div class="modal__content-title">Обратная связь</div>
          <div class="modal__content-description">Если у вас есть вопросы относительно деятельности нашего предприятия, либо по продукции, оставьте ваши контактные данные в форме ниже, и мы свяжемся с вами в ближайшее время.</div>
          <form class="modal__content-form">
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-user" type="text" name="loginName" placeholder="Имя пользователя*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-mail" type="text" name="loginPass" placeholder="Ваш e-mail*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-phone" type="text" name="loginPass" placeholder="Номер телефона*"/>
            </div>
            <div class="modal__content-form-submit">
              <input class="modal__content-form-submit-btn" type="submit" value="ОТПРАВИТЬ"/>
            </div>
            <div class="modal__content__note">Ваши персональные данные находятся в безопасности</div>
          </form>
          <div class="modal__content-close" data-dismiss="modal" aria-label="Close"><img class="modal__content-close" src="template-images/forms__cancel.png"/></div>
        </div>
      </div>
    </div>
    <!-- ***** Хэдер ***** -->
    <div class="header">
      <!-- Header-top-->
      <div class="header-top inn_padd">
        <div class="header-top__inner site-width">
          <div class="header-top__item header-adress"><img class="header-top__icon" src="template-images/header-top-point.png"/>
            <div class="header-top__text">225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202</div>
          </div><a class="header-top__item header-top__item-pharma" href="page-pharma.html"><img class="header-top__icon" src="template-images/header-top-nadzor.png"/>
            <div class="header-top__text">Фармаконадзор</div></a>
          <!-- Вход для клиентов - Вход не совершен (активируется классом .active)-->
          <div class="header-top__item header-top-login active" data-target="#clientsLogin" href="" data-toggle="modal"><img class="header-top__icon" src="template-images/header-top-login.png"/>
            <div class="header-top__text">Вход для клиентов</div>
          </div>
          <!-- Вход для клиентов - Вход совершен (активируется классом .active)-->
          <div class="header-top__item header-top-login header-top-logged"><img class="header-top__icon" src="template-images/header-top-client.png"/>
            <div class="header-top__text">Клиент 123546</div>
            <!-- Вход для клиентов - Меню--><i class="fa fa-angle-up header-top-login__arrow" aria-hidden="true"></i><i class="fa fa-angle-down header-top-login__arrow" aria-hidden="true"></i>
            <div class="header-top-logged__menu"><a class="header-top-logged__menu-btn header-top-logged__menu-lk" href="page-lk.html">Личный кабинет</a><a class="header-top-logged__menu-btn header-top-logged__menu-logout" href="#">Выйти</a></div>
          </div>
          <!-- Переключатель языков-->
          <div class="header-top__item-abs ru-eng"><a class="ru-eng__eng active" href="#">
              <div class="ru-eng__text">ENG</div><img class="ru-eng__img" src="template-images/header-top-eng.png"/></a><a class="ru-eng__ru" href="#">
              <div class="ru-eng__text">РУС</div><img class="ru-eng__img" src="template-images/header-top-eng.png"/></a></div>
        </div>
      </div>
      <!-- Header-bottom-->
      <div class="header-bottom inn_padd">
        <div class="header-bottom__inner site-width">
          <!-- Левое крыло-->
          <div class="header-bottom__left">
            <ul class="menu header-menu">
              <!-- пункт меню активируется добавлением класса .active-->
              <li><a class="button-link header-menu__button active" href="page-catalog.html">Каталог продукции</a>
              </li>
              <li><a class="button-link header-menu__button" href="page-about-company.html">О Компании</a>
              </li>
              <li><a class="button-link header-menu__button" href="page-news-all.html">Новости</a>
              </li>
            </ul>
          </div>
          <!-- Центр-->
          <div class="header-bottom__center"><a class="header-bottom-logo" href="page-main.html"><img class="header-bottom-logo__img" src="template-images/header-logo.png"/>
              <div class="header-bottom-logo__text">
                <div class="header-bottom-logo__text-text">
                  <div class="header-bottom-logo__text-title">ОАО 
                    <q>ЭКЗОН</q>
                  </div>
                  <div class="header-bottom-logo__text-description1">Производство натуральных </div>
                  <div class="header-bottom-logo__text-description2">лекарственных средств</div>
                </div>
              </div></a></div>
          <!-- Правое крыло-->
          <div class="header-bottom__right">
            <ul class="menu header-menu">
              <li><a class="button-link header-menu__button" href="#">Партнерам</a>
              </li>
              <li><a class="button-link header-menu__button" href="page-contacts.html">Контакты</a>
              </li>
              <li>
                    <button class="button button--gradient online-order" data-target="#online-order" href="" data-toggle="modal">Онлайн заявка</button>
              </li>
            </ul>
          </div>
          <div class="header-bottom__right-top header-bottom__right-top-phone"> <span>8 01644 </span><strong>3-24-09	</strong></div>
          <div class="header-bottom__left-top">
                <form class="header-search">
                  <input type="text" name="search"/>
                </form>
          </div>
        </div>
        <!-- Мобильная шапка-->
        <div class="header-bottom__inner-mobile site-width">
          <!-- Колонка Лого-->
          <div class="header-bottom-mobile__col header-mobile-logo__footer-logo"><img class="footer-logo__img" src="template-images/header-logo.png"/>
            <div class="footer-logo__text">
              <div class="footer-logo__text-title">ОАО 
                <q>ЭКЗОН</q>
              </div>
              <div class="footer-logo__text-description1">Производство натуральных</div>
              <div class="footer-logo__text-description2">лекарственных средств</div>
            </div>
          </div>
          <!-- Колонка Телефон-->
          <div class="header-bottom-mobile__col header-bottom-mobile__col2">
            <div class="header-bottom-mobile__phone"><span>8 01644</span><strong>&nbsp3-24-09</strong></div>
                <button class="button button--gradient online-order" data-target="#online-order" href="" data-toggle="modal">Онлайн заявка</button>
          </div>
          <!-- Колонка Меню-->
          <div class="header-bottom-mobile__col header-bottom-mobile__col3 header-mobile-menu">
                <div class="menu-mobile theme-exon">
                  <!-- Кнопка -->
                  <input type="checkbox" name="mobile-menu" id="mobile-menu_stroke-cross" style="display:none;"/>
                  <div class="mobile-menu">
                    <label class="mobile-menu__strokes" for="mobile-menu_stroke-cross">
                      <div class="mobile-menu__stroke mobile-menu__stroke-cross1"></div>
                      <div class="mobile-menu__stroke mobile-menu__stroke-cross2"></div>
                      <div class="mobile-menu__stroke mobile-menu__stroke-cross3"></div>
                    </label>
                  </div>
                  <!-- Меню -->
                  <div class="mobile-menu__menu">
                    <ul class="mobile-menu__item" id="mobile-menu">
                      <!-- Ссылка меню-->
                      <li><a class="mobile-menu__item-a" href="#">link1</a></li>
                      <li><a class="mobile-menu__item-a" href="#">link2</a></li>
                    </ul>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** /Хэдер ***** -->
    <!-- ***** Контент ***** -->
        <div class="main-slider-slick page__title">
          <div class="main-slider-slick__item"><img class="main-slider__img" src="template-images/catalog-card__title.png"/>
            <div class="main-slider__txt">
              <div class="main-slider__txt-title">Каталог продукции</div>
            </div>
            <!-- Крошки -->
            <div class="page__title-crumbs inn_padd">
              <div class="page__title-crumbs__inner site-width"><a class="page__title-crumbs__main" href="#">Главная<i class="fa fa-angle-double-right page__title-crumbs__fa" aria-hidden="true"></i><a class="page__title-crumbs__child" href="page-catalog.html">Каталог продукции</a><i class="fa fa-angle-double-right page__title-crumbs__fa" aria-hidden="true"></i>
                  <div class="page__title-crumbs__child" href="#">Сироп &quot;Розавит&quot;</div></a></div>
            </div>
          </div>
        </div>
    <!-- Содержимое страницы "Карточка товара"-->
    <div class="catalog catalog-card inn_padd">
      <div class="catalog__inner catalog-card__inner site-width">
        <div class="catalog-card__cols">
          <!-- Изображение товара-->
          <div class="catalog-card__col1-2 catalog-card__img-col">
            <div class="catalog-card__img"><img class="catalog-card__img-image" src="template-images/catalog-card__rozavit.png"/>
              <div class="catalog-card__img-new catalog__card-novelty on">Новинка</div>
            </div>
          </div>
          <!-- Описание товара-->
          <div class="catalog-card__col1-2 catalog-card__descr-col">
            <div class="catalog-card__descr">
              <!-- Заголовок-->
              <div class="catalog-card__descr-title">Сироп "Розавит"</div>
              <!-- Рег.номер-->
              <div class="catalog-card__descr-reg">РЕГ. <strong>№ </strong>11/03/387</div>
              <!-- Свойства-->
              <div class="catalog-card__descr-properties">
                <div class="catalog-card__descr-properties-name">Торговое наименование: <strong>Сироп "Розавит"</strong></div>
                <div class="catalog-card__descr-properties-name-int">Международное наименование: <strong>Rosavit</strong></div>
                <div class="catalog-card__descr-properties-category">Категория: <strong>Сиропы</strong></div>
                <div class="catalog-card__descr-properties-function">Назначение: <strong>Профилактические</strong></div>
                <div class="catalog-card__descr-properties-volume">Объем: <strong>250мл</strong></div>
              </div>
              <!-- По рецепту или без-->
              <div class="catalog-card__receipt">
                <div class="catalog-card__descr-receipt-yes active">Отпускается без рецепта врача<img class="catalog-card__descr-receipt-yes-img active" src="template-images/catalog__card-no-recipe.png"/></div>
                <div class="catalog-card__descr-receipt-no">Отпускается по рецепту врача<img class="catalog-card__descr-receipt-no-img" src="template-images/catalog__card-recipe.png"/></div>
              </div>
              <!-- Разделитель-->
              <div class="catalog-card__descr-separator"></div>
              <!-- Доп.информация						-->
              <div class="catalog-card__descr-addition">
                <p> <strong>Состав 250 мл: </strong><br/>Экстракт шиповника и рябины жидкий водный (1:1) - 90,710 г<br/>Аскорбиновая кислота - 0,816 г<br/><strong>Вспомогательные вещества:</strong><br/>Сахар-песок, лимонная кислота, вода очищенная.</p>
                <p><strong>Фармакологическая группа.</strong><br/>Аскорбиновая кислота (витамин С) в комбинации. A11GB.</p>
                <p><strong>Фармакологическое действие.</strong><br/>Лекарственное средство способствует повышению неспецифической резистентности организма, усилению регенерации тканей, уменьшению проницаемости сосудов, нормализации углеводного обмена. Фармакологические свойства лекарственного средства обусловлены наличием кислоты аскорбиновой и других веществ (каротиноидов, флавоноидов, органических кислот и др.), входящих в его состав.</p>
                <p><strong>Показания к применению. </strong>Применяется для профилактики гиповитаминоза и авитаминоза витамина С, в комплексной терапии астенических состояний, в период выздоровления после инфекционных и простудных заболеваний.</p>
                <p><strong>Противопоказания. </strong>Повышенная чувствительность к компонентам лекарственного средства, детский возраст до 3-х лет.</p>
                <p><strong>Способ применения и дозы. </strong><br/>Розавит назначают внутрь, детям старше 3 лет от 1 чайной ложки до 1 десертной ложки в зависимости от возраста, взрослым по 2-3 десертные ложки 3 раза в день после еды.</p>
                <p><strong>Побочное действие. </strong><br/>Возможны аллергические реакции на компоненты лекарственного средства.<br/>Особые указания. С осторожностью применять при заболеваниях сахарным диабетом.</p>
                <p><strong>Передозировка. </strong><br/>Не выявлена.</p>
                <p><strong>Взаимодействие с другими лекарственными средствами. </strong><br/>При одновременном применении лекарственного средства и витаминов В1, В2, Вс и Р (рутина) определяется взаимное усиление терапевтического действия. Витамин С улучшает усвоение железа, повышает концентрацию салицилатов, антибиотиков, снижает эффект гормональных контрацептивов, антикоагулярный эффект производных кумарина.</p>
                <p><strong>Условия хранения.</strong><br/>В сухом, защищенном от света, недоступном для детей месте при температуре не выше 25 оС.</p>
                <p><strong>Срок годности.</strong><br/>12 месяцев. Использовать в течение 10 суток после открытия бутылки. Не использовать позже срока, указанного на упаковке.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Примите участие в опросе-->
        <div class="page-main-interview inn_padd">
          <div class="main-interview__inner site-width">
            <div class="page-main-interview__text1">
              <div class="page-main-interview__txt">Примите участие в опросе, </div>
              <div class="page-main-interview__txt">чтобы помочь нам совершенствоваться</div>
            </div>
            <div class="page-main-interview__text2">
              <div class="page-main-interview__txt">Примите участиве в опросе, чтобы помочь нам совершенстоваться</div>
            </div>
            <div class="page-main-interview__btn"> <a class="button-link btn-page-main-all-news btn-page-main-all-news__list" href="#">Принять участие</a>
            </div>
          </div>
        </div>
    <!-- ***** /Контент *****-->
    <!-- ***** Футер ***** -->
    <div class="footer inn_padd">
      <div class="footer__inner site-width">
        <!-- Футер верхний-->
        <div class="footer-top">
          <!-- первая колонка -->
          <div class="footer-top__col">
            <div class="footer-logo"><img class="footer-logo__img" src="template-images/header-logo.png"/>
              <div class="footer-logo__text">
                <div class="footer-logo__text-title">ОАО 
                  <q>ЭКЗОН</q>
                </div>
                <div class="footer-logo__text-description1">Производство натуральных</div>
                <div class="footer-logo__text-description2">лекарственных средств</div>
              </div>
            </div>
            <div class="footer__phones">
              <div class="footer__phones1">8 01644 <strong>3-24-09</strong></div>
              <div class="footer__phones2">8 01644 <strong>3-24-09</strong></div>
            </div>
            <div class="footer__address">225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202</div>
            <div class="footer__mail">bm@ekzon.by</div>
          </div>
          <!-- Кнопка, появляющаяся в мобильной версии	-->
          <div class="footer-top__col footer-top__footer-feedback">
                <button class="button button--gradient footer-feedback footer-feedback_mobile" data-target="#callBack" href="" data-toggle="modal">Онлайн заявка</button>
          </div>
          <!-- вторая колонка -->
          <div class="footer-top__col">
            <div class="footer-top__col-title">Компания</div><a class="footer-top__col-row" href="#">Информация</a><a class="footer-top__col-row" href="#">История</a><a class="footer-top__col-row" href="#">Сертификаты качества</a><a class="footer-top__col-row" href="#">География продаж</a>
          </div>
          <!-- третья колонка -->
          <div class="footer-top__col">
            <div class="footer-top__col-title">Продукция</div><a class="footer-top__col-row" href="#">Лекарственные средства</a><a class="footer-top__col-row" href="#">Биологически активные добавки</a><a class="footer-top__col-row" href="#">Пищевые продукты</a>
          </div>
          <!-- четвертая колонка -->
          <div class="footer-top__col">
            <div class="footer-top__col-title">Партнерам</div><a class="footer-top__col-row" href="#">Наши партнеры</a><a class="footer-top__col-row" href="#">Дистрибьютерам</a><a class="footer-top__col-row" href="#">Информация по наличию</a><a class="footer-top__col-row" href="#">Положение по скидкам</a><a class="footer-top__col-row" href="#">Форма заказа</a><a class="footer-top__col-row" href="#">Прайс лист</a>
          </div>
        </div>
        <!-- /Футер верхний-->
        <!-- Футер нижний-->
        <div class="footer-bottom">
          <div class="footer-bottom__inner">
            <div class="footer-bottom__col">
                  <button class="button button--gradient footer-feedback" data-target="#callBack" href="" data-toggle="modal">Обратная связь</button>
            </div>
            <div class="footer-bottom__col">
              <div class="footer-join-us">
                <div class="footer-join-us__text">Присоединяйтесь:</div>
                <div class="footer-join-us__socials"><a href="https://vk.com/" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-vk.png"/></a><a href="https://www.instagram.com/" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-inst.png"/></a><a href="https://www.facebook.com" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-fb.png"/></a><a href="https://ok.ru/" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-ok.png"/></a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Футер нижний-->
        <!-- Разделитель-->
        <div class="separator"></div>
        <!-- Блок копирайт-->
        <div class="footer-copyright">
          <!-- Копирайт-->
          <div class="footer-copyright__col footer-copyright__col1">&copy; 2017 ОАО
            <q>ЭКЗОН</q> Все права защищены
          </div>
          <!-- /Копирайт-->
          <!-- Разработчик-->
          <div class="footer-copyright__col">
            <div class="site-developer">
              <div class="site-developer__text">Разработка сайта</div><img class="site-developer__img" src="template-images/site-developer.png"/>
            </div>
          </div>
          <!-- /Разработчик-->
        </div>
        <!-- /Блок копирайт-->
      </div>
    </div>
    <!-- Библиотеки скриптов -->
    <!-- Slick Slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- Slick Slider - init -->
    <!-- Главный слаййдер-->
    <script type="text/javascript" src="js/main-slider-slick.js"></script>
    <!-- Слайдер в табах-->
    <script type="text/javascript" src="js/slider-slick-mult.js"></script>
    <!-- Слайдер "Наши партнеры" на странице "О компании"-->
    <script type="text/javascript" src="js/slider-slick__carousel.js"></script>
    <!-- Bootstrap			-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- /Bootstrap-->
    <!-- /Библиотеки скриптов-->
    <!-- Скрипты-->
    <!-- На главной меняем значение кнопки "Подробнее"(bootstrap)-->
    <script src="js/read-more-bootstrap.js"></script>
    <!-- Скрипт 2 -->
    <script src=""></script>
    <!-- Скрипт 3 -->
    <script src=""></script>
    <!-- /Скрипты-->
    <!-- ***** /Футер *****-->
  </body>
</html>
<!-- !плагин LiveReload. по завершении разработки - удалить!-->
<script src="http://localhost:35729/livereload.js"></script>